@model IEnumerable<Projekt2.Models.Masazysta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwisko)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwisko)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_masazysta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_masazysta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_masazysta })
        </td>
    </tr>
}

</table>
