@model Projekt2.Models.Trener

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trener</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licencja.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licencja.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_trener }) |
    @Html.ActionLink("Back to List", "Index")
</p>
