@model Projekt2.Models.Zawodnik

@{
    ViewBag.Title = "Usuń";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zawodnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            Drużyna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Druzyna.nazwa)
        </dd>

        <dt>
            Pozycja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pozycja.nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
